.light {
  --md-sys-color-primary: rgb(16 107 87);
  --md-sys-color-surface-tint: rgb(16 107 87);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(162 242 217);
  --md-sys-color-on-primary-container: rgb(0 81 65);
  --md-sys-color-secondary: rgb(21 107 84);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(164 242 213);
  --md-sys-color-on-secondary-container: rgb(0 81 62);
  --md-sys-color-tertiary: rgb(87 89 146);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(225 224 255);
  --md-sys-color-on-tertiary-container: rgb(63 65 120);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(245 251 246);
  --md-sys-color-on-background: rgb(23 29 27);
  --md-sys-color-surface: rgb(245 251 246);
  --md-sys-color-on-surface: rgb(23 29 27);
  --md-sys-color-surface-variant: rgb(219 229 223);
  --md-sys-color-on-surface-variant: rgb(63 73 69);
  --md-sys-color-outline: rgb(111 121 117);
  --md-sys-color-outline-variant: rgb(191 201 196);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(43 50 47);
  --md-sys-color-inverse-on-surface: rgb(236 242 238);
  --md-sys-color-inverse-primary: rgb(135 214 189);
  --md-sys-color-primary-fixed: rgb(162 242 217);
  --md-sys-color-on-primary-fixed: rgb(0 32 25);
  --md-sys-color-primary-fixed-dim: rgb(135 214 189);
  --md-sys-color-on-primary-fixed-variant: rgb(0 81 65);
  --md-sys-color-secondary-fixed: rgb(164 242 213);
  --md-sys-color-on-secondary-fixed: rgb(0 33 23);
  --md-sys-color-secondary-fixed-dim: rgb(136 214 186);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 81 62);
  --md-sys-color-tertiary-fixed: rgb(225 224 255);
  --md-sys-color-on-tertiary-fixed: rgb(19 20 75);
  --md-sys-color-tertiary-fixed-dim: rgb(192 193 255);
  --md-sys-color-on-tertiary-fixed-variant: rgb(63 65 120);
  --md-sys-color-surface-dim: rgb(213 219 215);
  --md-sys-color-surface-bright: rgb(245 251 246);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(239 245 241);
  --md-sys-color-surface-container: rgb(233 239 235);
  --md-sys-color-surface-container-high: rgb(227 234 229);
  --md-sys-color-surface-container-highest: rgb(222 228 224);
}
