.light-medium-contrast {
  --md-sys-color-primary: rgb(74 148 205);
  --md-sys-color-surface-tint: rgb(100 165 200);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(190 222 255);
  --md-sys-color-on-primary-container: rgb(12 45 72);
  --md-sys-color-secondary: rgb(200 95 118);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(255 205 212);
  --md-sys-color-on-secondary-container: rgb(62 22 32);
  --md-sys-color-tertiary: rgb(72 150 150);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(175 220 220);
  --md-sys-color-on-tertiary-container: rgb(8 52 52);
  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 39);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(242 249 255);
  --md-sys-color-on-background: rgb(15 28 36);
  --md-sys-color-surface: rgb(242 249 255);
  --md-sys-color-on-surface: rgb(15 28 36);
  --md-sys-color-surface-variant: rgb(210 228 245);
  --md-sys-color-on-surface-variant: rgb(45 58 78);
  --md-sys-color-outline: rgb(120 160 200);
  --md-sys-color-outline-variant: rgb(175 210 235);
  --md-sys-color-shadow: rgb(40 70 95);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(30 42 52);
  --md-sys-color-inverse-on-surface: rgb(240 248 255);
  --md-sys-color-inverse-primary: rgb(162 210 255);
  --md-sys-color-primary-fixed: rgb(74 148 205);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(50 120 175);
  --md-sys-color-on-primary-fixed-variant: rgb(230 242 255);
  --md-sys-color-secondary-fixed: rgb(200 95 118);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(170 70 90);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 235 238);
  --md-sys-color-tertiary-fixed: rgb(72 150 150);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(50 120 120);
  --md-sys-color-on-tertiary-fixed-variant: rgb(220 245 245);
  --md-sys-color-surface-dim: rgb(215 228 242);
  --md-sys-color-surface-bright: rgb(252 253 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(244 249 255);
  --md-sys-color-surface-container: rgb(236 244 252);
  --md-sys-color-surface-container-high: rgb(226 236 248);
  --md-sys-color-surface-container-highest: rgb(214 228 242);
}
